:root {
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --accent-color: #2196f3;
  --accent-background-color: #188ce8;
  --logo-secondary-color: #000000;
  --primary-text-color-theme-dark: #212121;
  --secondary-text-color-theme-dark: #757575;
  --primary-text-color-theme-light: #ffffff;
  --secondary-text-color-theme-light: #f5f4fa;
  --primary-background-color-light: #ffffff;
  --secondary-background-color-light: #f5f4fa;
  --primary-background-color-dark: #2f303a;
}

/* Скидання стилів та часто вживані стилі */

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

img {
  display: block;
}

body {
  font-family: var(--primary-font);
  color: var(--primary-text-color-theme-dark);
  background-color: var(--primary-background-color-light);
  font-size: 14px;
  letter-spacing: 0.03em;
}

button {
  font-family: inherit;
  cursor: pointer;
}

/* Приховування заголовків */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* Стилі шапки */

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.logo-studio {
  color: var(--logo-secondary-color);
}

.logo-footer {
  color: var(--primary-text-color-theme-light);
}

.menu-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color-theme-dark);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

.contact-mail,
.contact-phone {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color-theme-dark);
}

.contact-mail:hover,
.contact-phone:hover,
.contact-mail:focus,
.contact-phone:focus {
  color: var(--accent-color);
}

.hero {
  background: var(--primary-background-color-dark);
}

.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-text-color-theme-light);
}

.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-text-color-theme-light);
  background-color: var(--accent-color);
}

.hero-btn:hover,
.hero-btn:focus {
  background: var(--accent-background-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* Стилі основної частини гловної сторінки */

.title-advantage {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.text-advantage {
  line-height: 1.71;
  color: var(--secondary-text-color-theme-dark);
}

.main-title-about {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.team {
  color: var(--secondary-background-color-light);
}

.main-title-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.title-team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.text-team {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-text-color-theme-dark);
}

.list-team-item {
  background: var(--primary-background-color-light);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

/* Стилі основної частини сторінки портфоліо */

.filter-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  background-color: var(--secondary-background-color-light);
}

.filter-button:hover {
  background-color: var(--accent-color);
  color: var(--primary-text-color-theme-light);
}

.title-list-portfolio {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color-theme-dark);
}

.text-list-portfolio {
  font-size: 16px;
  line-height: 1.88;
  color: var(--secondary-text-color-theme-dark);
}

/* Стилі підвалу */

footer {
  background-color: var(--primary-background-color-dark);
}

.footer-map-link {
  font-style: normal;
  line-height: 1.71;
  color: var(--primary-text-color-theme-light);
}

.footer-mail-link,
.footer-phone-link {
  font-style: normal;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

.footer-map-link:hover,
.footer-map-link:focus,
.footer-mail-link:hover,
.footer-phone-link:hover,
.footer-mail-link:focus,
.footer-phone-link:focus {
  color: var(--accent-color);
}
